.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding: 10px;
  color: white;
}

.cta-btn {
  display: inline-block;
  padding: 15px;
  width: 300px;
  margin-right: 5px;
  height: 50px;
  background: #348AA7;
  border: none;
  outline: none;
  color: white;
  font-family: inherit;
  font-weight: 400;
  font-size: 20px;
  border-radius: 3px;
  box-shadow: 0 5px 0px #348aa7;
  border-bottom: 2px solid #30809b;
}
.cta-btn:hover {
  background: #2e7a94;
  box-shadow: 0 4px 1px #2e7a94;
  border-bottom: 2px solid #2a7088;
  transition: all 0.1s ease-in;
}
.cta-btn:active {
  transform: translateY(4px);
  border-bottom-width: 2px;
  box-shadow: none;
}

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.btn-container .cta-btn {
  margin-bottom: 10px;
}

.sample-image {
  width: 300px;
  height: 300px;
}

.input-container  {
  display: flex;
  flex-direction: column;
  padding-right: 5px;
  padding-left: 5px;
}

.input-container input {
  padding: 15px;
  font-size: 16pt;
  border-bottom: 1px solid black;
  margin-bottom: 5px;
}